@use "./assets/sass/variables" as *;

.app {
  display: flex;
  justify-content: center;
  padding: 100px;
  margin: 10px;
  align-items: center;
}

.beer-container {
  display: flex;
  width: 2500px;
  height: 1000px;
  justify-content: left;
  border: 10px solid rgb(125, 42, 42);
  background-color: rgb(170, 228, 248);

  &__nav {
    border: 5px solid $color-primary;
    width: 600px;
  }
  &__content {
    border: 5px solid $color-secondary;
    width: 100%;
    height: 99%;
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
}
